*{
	font-family: "Roboto", monospace;
}

html, body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	color: #11253E;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(to right, #1a5972, #021424);
}
body{
	background: url("/back.svg") no-repeat;
	background-size: 100%;
}