*{
	font-family: "Roboto", monospace;
}

html, body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	color: #11253E;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(to right, #1a5972, #021424);
}
body{
	background: url("/back.svg") no-repeat;
	background-size: 100%;
}
.star{
	position: absolute;
	background: url("/star.svg") no-repeat;
	background-size: 100%;
	width: 20%;
	height: 20%;
	font-size: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.star p{
	margin: 0;
	font-weight: bold;
}
.game-field{
	height: 100vh;
	width: 100vh;
	position: relative;
	/*background-color: burlywood;*/
	/*opacity: 0.5;*/
}
.game-info{
	display: flex;
	flex-direction: column;
	position: absolute;
	right: 15%;
	top: 0;
	width: 20vw;
	height: 10vh;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	color: #c8c8ca;
	/*background-color: #4152ec;*/
	/*opacity: 0.5;*/
}

.game-interact{
	display: flex;
	flex-direction: column;
	position: absolute;
	right: 10px;
	top: 0;
	width: 40vh;
	height: 100%;
	justify-content: center;
	align-items: center;
	/*background-color: #a1de87;*/
	/*opacity: 0.5;*/
}
button {
	width: 200px;
	height: 50px;
	margin: 20px;
	border-radius:15px;
	border-top-style: hidden;
	border-right-style: hidden;
	border-left: solid 5px #c8c8ca;
	border-bottom: solid 5px #c8c8ca;
	font-size: 30px;
}
button:focus{
	outline: none;
}
button:active {
	transform: translateY(5px);
}